################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/bin/
/*/obj/
/.vs/ProjectEvaluation
/.vs/RailwayWebBuilder
/Helpers/EventsDetailsCreator/bin/Debug/
/Helpers/EventsDetailsCreator/obj
/Helpers/ThumbnailCreator/bin/Debug/
/Helpers/ThumbnailCreator/obj
/RailwayWebBuilderCore/App.config
/RailwayWebBuilderCore/RailwayWebBuilderCore.csproj.user
/packages
