################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RailwayWebBuilder/bin/Debug
/RailwayWebBuilder/obj/Debug
/.vs/RailwayWebBuilder
/RailwayWebBuilderCore/bin/Debug/netcoreapp3.1
/RailwayWebBuilderCore/obj
/RailwayWebBuilderCore/RailwayWebBuilderCore.csproj.user
/RailwayWebBuilderCore/App.config
/RailwayWebBuilderCore/bin/Debug/net5.0-windows
/.vs/ProjectEvaluation
/Helpers/EventsDetailsCreator/bin/Debug/net7.0
/Helpers/EventsDetailsCreator/obj
/RailwayWebBuilderCore/bin/Debug/net6.0-windows
/LocoDBSync/obj
